.main {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
/*home  */
.logo1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}
.logo2 {
  font-weight: 700;
  font-size: 26px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.general_1 {
  font-weight: 700;
  font-size: 14px;
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
  line-height: 100%;
  white-space: normal;
}
.general {
  font-weight: 700;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  line-height: 100%;
  white-space: normal;
}
/*Title  */
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 100%;
  font-style: normal;
  text-align: center;
  color: rgb(2, 2, 2);
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}
/*Main section  */
.main_section_1 {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
}
.main_section_1_2 {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 146%;
  color: rgba(117, 117, 117, 1);
}
.main_section_2 {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}
/*work section  */
.work {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}
/*Command section  */
.command_general {
  font-weight: 700;
  font-size: 36px;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}
.command_1 {
  height: 260px;
  width: 270px;
}
.command_12 {
  font-weight: 500;
  font-size: 16px;
  font-style: medium;
  color: rgba(33, 33, 33, 1);
  line-height: 100%;
}
.command_1_3 {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgba(117, 117, 117, 1);
  line-height: 100%;
}
/*footer  */
.logo3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}
.logo4 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: rgb(117, 117, 117, 1);
  text-decoration: none;
}
.footer_adress {
  font-weight: 400;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
}
.email_telephone_footer {
  font-weight: 400;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  text-decoration: none;
}
/*portfolio  */
.filter-button1 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}
.filter-button2 {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 33, 33, 1);
}
/*images  */
.images1 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 215px;
  position: absolute;
}
.images2 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 615px;
  position: absolute;
}
.images3 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 1015px;
  position: absolute;
}
.images4 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 215px;
  position: absolute;
}
.images5 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 615px;
  position: absolute;
}
.images6 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 1015px;
  position: absolute;
}
.images7 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 215px;
  position: absolute;
}
.images8 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 615px;
  position: absolute;
}
.images9 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 1015px;
  position: absolute;
}
/*projects  */
.projects1 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects2 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects3 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects4 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects5 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects6 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects7 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
.projects8 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
.projects9 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
/*description */
.description1 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description4 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description5 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description6 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description7 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
.description8 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
.description9 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
