.main {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
/*home  */
.logo1 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
}
.logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.menu_buttons {
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 150, 243, 1);
  text-decoration: none;
  line-height: normal;
  white-space: normal;
}
.menu_buttons_2 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  line-height: normal;
  white-space: normal;
}

/*Title  */
.title {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  font-style: normal;
  text-align: center;
  color: rgb(2, 2, 2);
}
.button {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
}
/*Main section  */
.main_section_1 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  margin-left: 215px;
  position: absolute;
  top: 774px;
  height: 16px;
}
.main_section_1_2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-left: 215px;
  position: absolute;
  top: 800px;
  height: 75px;
}
.main_section_2 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  margin-left: 515px;
  position: absolute;
  top: 774px;
  height: 16px;
}
.main_section_2_2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-left: 515px;
  position: absolute;
  top: 800px;
  height: 75px;
}
.main_section_3 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  margin-left: 815px;
  position: absolute;
  top: 774px;
  height: 16px;
}
.main_section_3_2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-left: 815px;
  position: absolute;
  top: 800px;
  height: 75px;
}
.main_section_4 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1115px;
  position: absolute;
  top: 774px;
  height: 16px;
}
.main_section_4_2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1115px;
  position: absolute;
  top: 800px;
  height: 75px;
}
/*work section  */
.work {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: rgba(33, 33, 33, 1);
  margin-left: 612px;
  position: absolute;
  top: 969px;
  height: 42px;
}
.work_1 {
  margin-left: 215px;
  position: absolute;
  top: 1061px;
  height: 294px;
  width: 370px;
}
.work_2 {
  margin-left: 615px;
  position: absolute;
  top: 1061px;
  height: 294px;
  width: 370px;
}
.work_3 {
  margin-left: 1015px;
  position: absolute;
  top: 1061px;
  height: 294px;
  width: 370px;
}
/*Command section  */
.command_general {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: rgba(33, 33, 33, 1);
  margin-left: 612px;
  position: absolute;
  top: 1543px;
  height: 42px;
}
.command_1 {
  margin-left: 215px;
  position: absolute;
  top: 1635px;
  height: 260px;
  width: 270px;
}
.command_2 {
  margin-left: 515px;
  position: absolute;
  top: 1635px;
  height: 260px;
  width: 270px;
}
.command_3 {
  margin-left: 815px;
  position: absolute;
  top: 1635px;
  height: 260px;
  width: 270px;
}
.command_4 {
  margin-left: 1115px;
  position: absolute;
  top: 1635px;
  height: 260px;
  width: 270px;
}
.command_1_2 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
  margin-left: 275px;
  position: absolute;
  top: 1925px;
  height: 19px;
  width: 151px;
}
.command_2_2 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
  margin-left: 596px;
  position: absolute;
  top: 1925px;
  height: 19px;
  width: 151px;
}
.command_3_2 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
  margin-left: 882px;
  position: absolute;
  top: 1925px;
  height: 19px;
  width: 151px;
}
.command_4_2 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1183px;
  position: absolute;
  top: 1925px;
  height: 19px;
  width: 151px;
}
.command_1_3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 285px;
  position: absolute;
  top: 1954px;
  height: 19px;
  width: 130px;
}
.command_2_3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 577px;
  position: absolute;
  top: 1954px;
  height: 19px;
  width: 147px;
}
.command_3_3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 912px;
  position: absolute;
  top: 1954px;
  height: 19px;
  width: 147px;
}
.command_4_3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1207px;
  position: absolute;
  top: 1954px;
  height: 19px;
  width: 130px;
}
/*footer  */
.logo3 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: rgba(33, 150, 243, 1);
  margin-left: 255px;
  position: absolute;
  top: 2157px;
}
.logo4 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: rgb(252, 248, 248);
}
.tiledBackground_footer {
  background-color: #1e2939;
  width: 1600px;
  height: 252px;
  position: absolute;
  top: 2097px;
}

.footer_adress {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  margin-left: 215px;
  top: 2208px;
  position: absolute;
}
.email_footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  margin-left: 215px;
  top: 2238px;
  position: absolute;
}
.telephone_footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  margin-left: 215px;
  top: 2268px;
  position: absolute;
}
/*portfolio  */
.filter-button1 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 174px;
  width: 73px;
  height: 38px;
  left: 495px;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 1);
  cursor: pointer;
}
.filter-button2 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 174px;
  width: 128px;
  height: 38px;
  left: 576px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.filter-button3 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 174px;
  width: 145px;
  height: 38px;
  left: 712px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.filter-button4 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 174px;
  width: 103px;
  height: 38px;
  left: 865px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
.filter-button5 {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: 174px;
  width: 130px;
  height: 38px;
  left: 976px;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}
/*images  */
.images1 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 215px;
  position: absolute;
}
.images2 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 615px;
  position: absolute;
}
.images3 {
  width: 370px;
  height: 294px;
  top: 262px;
  margin-left: 1015px;
  position: absolute;
}
.images4 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 215px;
  position: absolute;
}
.images5 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 615px;
  position: absolute;
}
.images6 {
  width: 370px;
  height: 294px;
  top: 696px;
  margin-left: 1015px;
  position: absolute;
}
.images7 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 215px;
  position: absolute;
}
.images8 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 615px;
  position: absolute;
}
.images9 {
  width: 370px;
  height: 294px;
  top: 1130px;
  margin-left: 1015px;
  position: absolute;
}
/*projects  */
.projects1 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects2 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects3 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 576px;
  height: 36px;
  width: 322px;
}
.projects4 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects5 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects6 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1010px;
  height: 36px;
  width: 322px;
}
.projects7 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 239px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
.projects8 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 639px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
.projects9 {
  font-family: "roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1444px;
  height: 36px;
  width: 322px;
}
/*description */
.description1 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description2 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description3 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 616px;
  height: 30px;
  width: 322px;
}
.description4 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description5 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description6 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1050px;
  height: 30px;
  width: 322px;
}
.description7 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 239px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
.description8 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 639px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
.description9 {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-left: 1039px;
  position: absolute;
  top: 1484px;
  height: 30px;
  width: 322px;
}
